<div>
  <h2>Subscriptions</h2>

  <div>
    <h4>Message subscriptions</h4>
    <form [formGroup]="subscriptionMessageForm">
      <mat-form-field>
        <mat-label>select message you want to subscribe to</mat-label>
        <mat-select formControlName="messageId" required>
          <mat-option *ngFor="let message of messages" [value]="message.idMessage">
            {{ message.dtTitle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>email address</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>

    </form>
    <button mat-raised-button color="primary" (click)="createSubscriptionMessage()">SUBSCRIBE</button>

    <table *ngIf="subMessageTypes" mat-table [dataSource]="subMessages" class="mat-elevation-z2">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>message title</th>
        <td mat-cell *matCellDef="let subMessage">
          {{ subMessage.dtTitle }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let subMessage">
          {{ subMessage.dtEmail }}
        </td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let subMessage">
          <button mat-raised-button color="primary" (click)="deleteSubscriptionMessage(subMessage.idSubscription)">DELETE</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <div>
    <h4>Message Type subscriptions</h4>
    <form [formGroup]="subscriptionMessageTypeForm">

      <mat-form-field>
        <mat-label>select message type you want to subscribe to</mat-label>
        <mat-select formControlName="messageTypeId" required>
          <mat-option *ngFor="let messageType of messageTypes" [value]="messageType.idMessageType">
            {{ messageType.dtTypeName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>email address</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="createSubscriptionMessageType()">SUBSCRIBE</button>

    <table *ngIf="subMessageTypes" mat-table [dataSource]="subMessageTypes" class="mat-elevation-z2">

      <ng-container matColumnDef="messageType">
        <th mat-header-cell *matHeaderCellDef>message type</th>
        <td mat-cell *matCellDef="let subMessageType">
          {{ subMessageType.dtTypeName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let subMessageType">
          {{ subMessageType.dtEmail }}
        </td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let subMessageType">
          <button mat-raised-button color="primary" (click)="deleteSubscriptionMessageType(subMessageType.idSubscription)">DELETE</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>

  </div>
</div>

