<div>
  <h2>Messages Types</h2>

  <mat-expansion-panel class="mat-elevation-z2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add a message type
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="createMessageTypeForm" (keydown.enter)="createMessageType()">

      <mat-form-field>
        <mat-label>type name</mat-label>
        <input matInput formControlName="messageTypeName" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>shown type name</mat-label>
        <input matInput formControlName="shownTypeName" required>
      </mat-form-field>

      <mat-form-field color="primary">
        <mat-label>language</mat-label>
        <mat-select formControlName="languageId">
          <mat-option *ngFor="let language of languages" [value]="language.idLanguage">
            {{language.dtLanguageName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <p>{{error}}</p>

    <mat-action-row>
      <button mat-raised-button color="primary" (click)="createMessageType()">Add Message Type</button>
    </mat-action-row>

  </mat-expansion-panel>

  <table mat-table [dataSource]="messageTypes" class="mat-elevation-z2">
    <ng-container matColumnDef="messageTypeId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let messageType"> {{ messageType.idMessageType }} </td>
    </ng-container>

    <ng-container matColumnDef="messageTypeName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let messageType">{{ messageType.dtShownTypeName }}</td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let messageType">
        <button mat-raised-button color="primary" (click)="deleteMessageType(messageType.idMessageType)">DELETE</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="highlight"></tr>
  </table>

</div>
