<div class="main-div">
  <mat-card class="card mat-elevation-z3">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (keydown.enter)="login()">

      <mat-form-field color="primary">
        <mat-label>username</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
      <br>
      <mat-form-field color="primary">
        <mat-label>password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
      <br>
      <p>{{ error }}</p>
      <br>
      <button mat-raised-button (click)="login()" color="primary">Login</button>

    </form>

    <br>
    <br>
    <a href="register">Don't have an account yet? Register now.</a>

  </mat-card>
</div>
