<div>
    <h2>Languages</h2>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add a language
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="createLanguageForm" (keydown.enter)="createLanguage()">
        <mat-form-field>
          <mat-label>language iso code</mat-label>
          <input matInput formControlName="languageId" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Language name</mat-label>
          <input matInput formControlName="languageName" required>
        </mat-form-field>
      </form>

      <p>{{ error }}</p>

      <mat-action-row>
        <button mat-raised-button color="primary" (click)="createLanguage()">Add language</button>
      </mat-action-row>
    </mat-expansion-panel>

    <table mat-table [dataSource]="languages" class="mat-elevation-z2">
      <ng-container matColumnDef="idLanguage">
        <th mat-header-cell *matHeaderCellDef> Language ISO code</th>
        <td mat-cell *matCellDef="let language"> {{ language.idLanguage }} </td>
      </ng-container>

      <ng-container matColumnDef="dtLanguageName">
        <th mat-header-cell *matHeaderCellDef> Language name</th>
        <td mat-cell *matCellDef="let language">{{ language.dtLanguageName }}</td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let language">
          <button mat-raised-button color="primary" (click)="deleteLanguage(language.idLanguage)">DELETE</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
