<div>
  <h2>Send Message</h2>

  <form [formGroup]="sendMessageForm" (keydown.enter)="sendMessage()">

    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select formControlName="languageId" required>
        <mat-option *ngFor="let language of languages" [value]="language.idLanguage"
                    (onSelectionChange)="getAllLanguageMessages(language.idLanguage)">
          {{ language.dtLanguageName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="messages">
      <mat-label>Message</mat-label>
      <mat-select formControlName="messageId" required>
        <mat-option class=".not-empty-select" *ngFor="let message of messages" [value]="message.idMessage"
                    (onSelectionChange)="getOneLanguageMessage(message.idMessage)">
          {{ message.dtShownTitle }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p *ngIf="message">message:</p>
    <h3 *ngIf="message">{{ message.dtText }}</h3>

    <p *ngIf="message">parameter placeholder:</p>
    <h3 *ngIf="message">{{ message.dtParameter }}</h3>
    <br>

    <mat-form-field *ngIf="message">
      <mat-label>Parameter:</mat-label>
      <input matInput required formControlName="parameters">
    </mat-form-field>
    <h4 class="information" *ngIf="message">The parameters must be specified using the comma as a delimiter.</h4>

    <h3 *ngIf="error">{{ error }}</h3>

  </form>

  <button mat-raised-button color="primary" (click)="sendMessage()">SEND MESSAGE</button>

</div>
