<div>
  <h2>Message Detail</h2>


  <form [formGroup]="updateMessageForm" (keydown.enter)="updateMessage()">

    <mat-form-field>
      <mat-label>language</mat-label>
      <mat-select formControlName="languageId" required>
        <mat-option *ngFor="let language of languages" [value]="language.idLanguage">
          {{language.dtLanguageName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="getOneLanguageMessage()">
      Get Message
    </button>

    <mat-form-field *ngIf="message && chosenLanguage">
      <mat-label>title</mat-label>
      <input matInput formControlName="shownTitle" required>
    </mat-form-field>

    <br>

    <mat-form-field *ngIf="message && chosenLanguage">
      <mat-label>message</mat-label>
      <input matInput formControlName="message" required>
    </mat-form-field>

    <br>

    <mat-form-field *ngIf="message && chosenLanguage">
      <mat-label>parameter</mat-label>
      <input matInput formControlName="parameter" required>
    </mat-form-field>

    <br>

    <mat-form-field *ngIf="message && chosenLanguage">
      <mat-label>message type</mat-label>
      <mat-select [value]="message.fiMessageType" formControlName="messageTypeId" required>
        <mat-option *ngFor="let messageType of messageTypes" [value]="messageType.idMessageType">
          {{messageType.dtShownTypeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <p>{{ error }}</p>

  <button mat-raised-button color="primary" (click)="updateMessage()">UPDATE</button>
</div>
