table
  margin-top: 20px
  width: 65%
  background-color: white

th
  font-size: 16px
  font-weight: bolder
  color: black

td
  @extend th
  font-weight: normal

div
  margin: 10px


.mat-column-button
  display: flex
  justify-content: flex-end

button
  margin: 10px

textarea
  width: 200px

.main-div
  height: 90vh
  display: flex
  justify-content: center
  align-items: center

.mat-card
  color: black
  background-color: white
  height: auto
  width: auto
  padding: 10px

.mat-form-field
  margin: 10px

.mat-header-cell
  color: rgba(128, 0, 128, 0.5)

.centeredHeader
  flex-direction: column
  text-align: center
  justify-content: center


.centeredCell
  text-align: center
  justify-content: center


.mat-expansion-panel, .mat-expansion-panel-header-title, .mat-expansion-panel-header-description
  background-color: #e2e2e2
  color: black

.mat-select, .not-empty-select, input, mat-label, mat-option
  background-color: white
  color: black

.highlight:hover
  background: rgba(128, 0, 128, 0.3)

.mat-form-field
  margin: 0
  width: 70%

form
  margin-left: 10px

::ng-deep .mat-form-field-underline
  /*change color of underline*/
  background-color: purple !important

::ng-deep .mat-form-field-label
  color: purple !important

::ng-deep .mat-form-field
  background-color: white !important

::ng-deep .mat-select-value
  /*change color of label*/
  color: black !important

.information
  color: deepskyblue !important
