<div>
  <h2>Messages</h2>

  <mat-expansion-panel class="mat-elevation-z2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add a message
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="createMessageForm" (keydown.enter)="createMessage()">

      <mat-form-field color="primary">
        <mat-label>title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <mat-form-field color="primary">
        <mat-label>shown title</mat-label>
        <input matInput formControlName="shownTitle">
      </mat-form-field>

      <mat-form-field color="primary">
        <mat-label>message type</mat-label>
        <mat-select formControlName="typeId">
          <mat-option *ngFor="let messageType of messageTypes" [value]="messageType.idMessageType">
            {{messageType.dtShownTypeName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="primary">
        <mat-label>language</mat-label>
        <mat-select formControlName="languageId">
          <mat-option *ngFor="let language of languages" [value]="language.idLanguage">
            {{language.dtLanguageName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="primary">
        <mat-label>parameter</mat-label>
        <input matInput formControlName="parameter">
      </mat-form-field>

      <mat-form-field color="primary">
        <mat-label>message</mat-label>
        <input matInput formControlName="text">
      </mat-form-field>

    </form>

    <mat-action-row>
      <button mat-raised-button color="primary" (click)="createMessage()">Add Message</button>
    </mat-action-row>

  </mat-expansion-panel>

  <table *ngIf="messages" mat-table [dataSource]="messages" class="mat-elevation-z2">

    <ng-container matColumnDef="shownTitle">
      <th mat-header-cell *matHeaderCellDef>message title</th>
      <td mat-cell *matCellDef="let message">
        {{ message.dtShownTitle }}
      </td>
    </ng-container>

    <ng-container matColumnDef="messageType">
      <th mat-header-cell *matHeaderCellDef>message type</th>
      <td mat-cell *matCellDef="let message">
        {{ message.dtShownTypeName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let message">
        <button mat-raised-button color="primary" [routerLink]="['/messages/', message.idMessage]">EDIT</button>
        <button mat-raised-button color="primary" (click)="deleteMessage(message.idMessage)">DELETE</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
