<div>
<h2>Translate Message</h2>

<mat-form-field>
  <mat-label>select a message to translate</mat-label>
  <mat-select required>
    <mat-option *ngFor="let message of messages" [value]="message.idMessage"
                (onSelectionChange)="getLanguagesNotUsed(message.idMessage)">
      {{message.dtTitle}}
    </mat-option>
  </mat-select>
</mat-form-field>

<form *ngIf="messages" [formGroup]="translateForm">

  <mat-form-field>
    <mat-label>language</mat-label>
    <mat-select formControlName="languageId" required>
      <mat-option *ngFor="let language of languages" [value]="language.idLanguage">
        {{language.dtLanguageName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>title</mat-label>
    <input matInput formControlName="title" required>
  </mat-form-field>

  <br>

  <p *ngIf="message">Parameter: {{ message.dtParameter }}</p>
  <p *ngIf="message">Parameter count: {{ message.dtParameterCount }}</p>

  <mat-form-field>
    <mat-label>message</mat-label>
    <input matInput formControlName="message" required>
  </mat-form-field>
</form>

<p>{{ error }}</p>

<button mat-raised-button color="primary" (click)="createTranslation()">TRANSLATE</button>
</div>
