<div class="main-div">
  <mat-card class="card mat-elevation-z3">
    <mat-card-title>Register</mat-card-title>

    <mat-card-content>
      <form [formGroup]="registerForm">

        <mat-form-field color="primary">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstname" required>
        </mat-form-field>
        <br>
        <mat-form-field color="primary">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastname" required>
        </mat-form-field>
        <br>
        <mat-form-field color="primary">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
        </mat-form-field>
        <br>
        <mat-form-field color="primary">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
        <br>
        <mat-form-field color="primary">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
        </mat-form-field>
        <br>
        <mat-form-field color="primary">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>
        <br>
        <mat-form-field color="primary">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" required>
        </mat-form-field>
        <br>
        <mat-form-field color="primary">
          <mat-label>Favorite language</mat-label>
          <mat-select formControlName="languageId" required>
            <mat-option *ngFor="let language of languages" [value]="language.idLanguage">
              {{language.dtLanguageName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button (click)="register()" color="primary">Register</button>

        <p>{{ error }}</p>

      </form>

      <br>
      <a href="">Already have an account? Log in.</a>
    </mat-card-content>

  </mat-card>
</div>
