<nav mat-tab-nav-bar color="primary">
  <a mat-tab-link
     *ngFor="let navlink of navlinks"
     [routerLink]="navlink.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{navlink.label}}
  </a>
  <a *ngIf="this.cookie.check('token')" mat-tab-link (click)="deleteCookie()">LOG OFF</a>
</nav>
